$h1color : #FFFFFF;
$headerBg: #FF6C02;

header {
	background-color: $headerBg;
	height:60px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom:2%;
	h1 {
		font-size:2rem !important; 
		color: $h1color;
		font-weight:bold
	}
}

